.DropdownButton {
    background-color: #343a40;
    color: lightgray;
    text-transform: uppercase;
    border: none;
    font-size: 1rem;
    padding: 15px;
}

.DropdownButton:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}
  
.Dropdown {
    position: relative;
    display: inline-block;
}

.DropdownContent {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
  
.DropdownContent p {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.DropdownContent p:hover {background-color: #ddd;}

.Dropdown:hover .DropdownContent {display: block;}

.Dropdown:hover .DropdownButton {background-color: #3e8e41;}

@media (max-width: 650px) {
    .Dropdown{
        float: left;
    }
}