.AboutUs {
    width: 100%;
    height: calc(100vh - 60px);
    justify-content: center;
    align-items: center;
    background-color: darkgrey;
    position: relative;  display: flex;
    flex-direction: column;
    justify-content: center;
}

.AboutUsContent {
    width: 75%;
    margin: auto;
}

.AboutUsContent h3 {
    text-align: center;
    font-size: 1.6rem;
}

.AboutUsContent p {
    text-align: center;
    font-size: 1.2rem;
}

@media (max-width: 650px) {
    .AboutUs {
        overflow: auto;
        display: block;    
    }
    .AboutUsContent h3 {
        font-size: 1.3rem;
    }
    .AboutUsContent p {
        font-size: 1rem;
    }
}

@media (min-width: 651px) and (max-width: 950px) {

}