html
  head
    title New User
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    style
      include style.css
  body
    div(class='main')
      h2(class='sitename') Caipora CMS
      h3(class='title') New User
      form(action='/api/cms/newuser', method='post')
          div
            label(class='field') Username: 
            input(type='text', name='username', required="", class='input')
          div
            label(class='field') Password: 
            input(type='password', name='password', required="", class='input')
          div
            input(type='submit', value='Submit', class='button')
      if message
        p(class='message') #{message}